/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  body {
    background-color: aquamarine;
}
header {
    color: blue;
    font-size: 24px;
}